<form [formGroup]="studentForm">

    Id <input type="text" name="id" formControlName="id"/>
    
    <span *ngIf="studentForm.controls['id'].touched&&studentForm.controls['id'].invalid">
            <span *ngIf="studentForm.controls['id'].errors.required">
                    please provide some value
         </span>  
         <span *ngIf="studentForm.controls['id'].errors.minlength">
                please provide atleast 3 char
     </span> 
    </span>
    
    
    <br/>
    Name <input type="text" name="name" formControlName="name"/><br/>

    <button (click)="save();" [disabled]="studentForm.invalid">Save</button>
    <button (click)="cancel();">Cancel</button>
</form>