<form #studentForm="ngForm">

    Id <input type="text" minlength="3" min="999" name="id" #idCtrl="ngModel" [(ngModel)]="student.id"/>
    
    <span *ngIf="idCtrl.errors&&idCtrl.errors.minlength">
        atleast 3 charcters should enter
    </span>
    <span *ngIf="idCtrl.errors&&idCtrl.errors.min">
       maximum value is 999
    </span>
    <br/>

    Name <input type="text" name="name" #nameCtrl="ngModel" [(ngModel)]="student.name"/><br/>

    <button (click)="register();" [disabled]="studentForm.invalid">Register</button>
</form>