<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <!-- Import AngularJS library -->
    <script type="text/javascript" src="js/angular.js"></script>
    
    <!-- Import application specific code -->
    <script type="text/javascript" src="js/sample.js"></script>
    <link href="css/sample.css" rel="stylesheet" type="text/css">
  </head>

	<body ng-app="MyApp">
	 <div ng-controller="ParentController">
	  <input type="button" value="Broadcast Down" ng-click="m1($event)" />
		<h4>{{Message}}</h4>
		<div ng-controller="ChildController">
		 <h4>{{Message}}</h4>
		 <input type="button" value="Emit Up" ng-click="m2($event)" />
        </div>
	  </div>
	</body>
</html>
