<form #studentForm="ngForm">
    Id <input type="text" name="id" required #idctrl="ngModel" [(ngModel)]="student.id"/> 
    <span *ngIf="idctrl.invalid">
        id is required
    </span>
    <br/>
    Name <input type="text" name="name" [(ngModel)]="student.name"/> <br/>
    Email <input type="text" name="name" [(ngModel)]="student.email"/> <br/>
    Phone No <input type="text" name="phoneNo"/> <br/>
    <button (click)="insert();" [disabled]="studentForm.invalid">Save</button>
</form>

id untouched status:{{idctrl.untouched}}<br/>
id touched status:{{idctrl.touched}}<br/>
id pristine status:{{idctrl.pristine}}<br/>
id dirty status:{{idctrl.dirty}}<br/>
id valid status:{{idctrl.valid}}<br/>
id invalid status:{{idctrl.invalid}}<br/>