<table>

    <tr *ngFor="let studentName of studentNames">

        <td>{{studentName}}</td>

    </tr>

</table>

<select>
    
        <option *ngFor="let studentName of studentNames">
    
            {{studentName}}
    
        </option>
    
    </select>


    <ul>
        
            <li *ngFor="let studentName of studentNames">
        
                {{studentName}}
        
            </li>
        
        </ul>
        <ol>
            
                <li *ngFor="let studentName of studentNames">
            
                    {{studentName}}
            
                </li>
            
            </ol>
                  
        
