<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary btn-lg">
      Add new student
    </button>
  </div>
</div>
<h2>List of Students</h2>
<div class="row" *ngFor="let student of students">
  <div class="col-sm-8">
    <h4>{{student.id}}: {{student.name | lowercase}} : {{student.pocketMoney | currency }}: {{student.jeeScore }} : {{student.attemptDate | date: 'short' }}</h4>
  </div>
</div>

<div class="row" *ngFor="let student of students">
  <div class="col-sm-8">
    <h4>Score out of 10 :  {{student.jeeScore/300 | number: '2.2-2' }}</h4>
  </div>
</div>

<div class="row" *ngFor="let student of students">
  <div class="col-sm-8">
    <h4>Percentage :  {{student.jeeScore/3000 | percent: '3.1-2' }}</h4>
  </div>
</div>

<div class="row" *ngFor="let student of students">
  <div class="col-sm-8">
    <h4>{{student| json }}</h4>
  </div>
</div>